
  textarea, input, button { outline: none; }

  body {
  	padding: 0; 
  	margin: 0;
    background: rgb(40, 59, 74);
    color: white;
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
    letter-spacing: 1px;
  } 

  body ::focus {
    outline-style:none;
    box-shadow:none;
    border-color:transparent;
  }

  b {
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
  }

  canvas {
  	position: relative; 
  	top: 0; 
  	left: 0; 
  	z-index: 1;
  	margin: 0;
    background: rgb(40, 59, 74);
    font-weight: 300 !important;
  }

  #content {
  	position: relative; 
  	z-index: 2; 
    padding-bottom: 20px;
  }

  .form {
  	padding: 20px;
  }

  .buttonSelected {
    background-color: white !important; 
    color: black !important;
  }

  .button {
    background-color: rgb(93,116,132);
    border: none;
    color: white;
    padding: 6px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    text-transform: uppercase;
  }

  .tickerDetails {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 0 !important;
/*    padding-bottom: 0 !important;*/
  }


  .changeDateRange .button {
      margin-right: 10px;
  }

  #onemonth{
      margin-right: 0;
  }

  .tickerName {
    padding-top: 20px !important;
    justify-content: space-between;
    
  }

  #tickerName {
    font-size: 20px;
    margin-right: 10px;
    align-self: flex-start;
  }

  #currentGraph {
    font-size: 20px;
    align-self: flex-start;
  }

  #toggle {
    align-self: flex-end;
    justify-content: flex-end;
    display:table;
  }

  #indicator-label {
    display:table-cell;
    vertical-align:middle;
    padding-right: 15px;
    font-size: 11px;
    text-transform: uppercase;
  }

  .changeCompany {
    background-color: rgb(93,116,132);
  }

  .changeCompany .button {
    background-color: rgb(40,59,74);
    margin: 7px 14px;
    margin-right: 0;
  }

  .changeCompany .button:disabled {
    background-color: #CED5D8;
  }

  #input {
      flex: 8;
  }

  #input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #CED5D8;
    font-style: italic;
  }
  #input::-moz-placeholder { /* Firefox 19+ */
    color: #CED5D8;
    font-style: italic;
  }
  #input:-ms-input-placeholder { /* IE 10+ */
    color: #CED5D8;
    font-style: italic;
  }
  #input:-moz-placeholder { /* Firefox 18- */
    color: #CED5D8;
    font-style: italic;
  }

  #submit {
      flex: 1;
  }

  .detail {
    flex: 1;
    font-size: 12px;
    display: inline-block;
/*    min-width: 180px;*/
    margin-left: 10px;
  }

  #current-price {
    margin-left: 0;

  }

  #percent-change {

  }

  #point-change {

  }

  #date-range {
    flex: 2;
  }

  .row{
    padding-left: 75px;
    padding-right: 75px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .subrow{
    display: inline-block;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .tickerfield {
    width: 25%;
    padding: 6px 12px;
    margin: 8px 0;
    box-sizing: border-box;
  }

  #sighted-vals {
    background-color: rgb(93,116,132);
    padding-left: 0 !important;
    padding-right: 0 !important;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-right: 75px;
    margin-left: 75px;
  }

  .val {
    flex: 1;
    font-size: 12px;
    text-align: center;
  }

  /* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 24px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #CED5D8;
  -webkit-transition: .1s;
  transition: .1s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .1s;
  transition: .1s;
}

input:checked + .slider {
  background-color: rgb(67,146,241);
}

input:focus + .slider {
  box-shadow: 0 0 1px rgb(67,146,241);
}

input:checked + .slider:before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.hidden {
  position:absolute;
  left:-10000px;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
}

.about {
  justify-content: center;
}

#about-project {
  margin-bottom: 30px;
}

#modalbutton {
  text-align: center;
  flex: 1;
}

#modal {
  font-size: 12px;
}

#startModal {
  font-style: italic;
  background: none;
  border: none;
  color: rgba(255, 255, 255, 0.42);
  cursor: pointer;
}

