
  textarea, input, button { outline: none; }

  body {
  	padding: 0; 
  	margin: 0;
    background: rgb(40, 59, 74);
    color: white;
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
    letter-spacing: 1px;
  } 

  body ::focus {
    outline-style:none;
    box-shadow:none;
    border-color:transparent;
  }

  b {
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
  }

  #content {
  	position: relative; 
  	z-index: 2; 
    padding-bottom: 20px;
  }

  .row{
    padding-left: 75px;
    padding-right: 75px;
    padding-top: 10px;
    padding-bottom: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .subrow{
    display: inline-block;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .button {
    background-color: rgb(93,116,132);
    border: none;
    color: white;
    padding: 6px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    text-transform: uppercase;
  }

  .buttonSelected {
    background-color: white !important; 
    color: black !important;
  }

  .hidden {
    position:absolute;
    left:-10000px;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
  }

  .nameHeader {
    background-color: white;
    color: rgb(40, 59, 74);
    padding-top: 15px;
    padding-bottom: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    -moz-box-shadow:0 0 8px 0 rgb(40, 59, 74);
    -webkit-box-shadow:0 0 8px 0 rgb(40, 59, 74);
    box-shadow:0 0 8px 0 rgb(40, 59, 74);
    z-index: 100000;
    position: relative;
/*    justify-content: flex-end;*/
  }

  .nameHeader img {
    position: absolute;
    width: 25px;
    margin-left: -45px;
  }

  .nameHeader .button {
    padding: 8.5px 12px
  }

  .nameHeader .button:disabled {
    background-color: #CED5D8;
  }

  #appname{
    font-weight: 400;
    flex: 2;
    margin-right: 40px;
  }

/*  Change Company Row */

/*  .changeCompany {
    background-color: rgb(93,116,132);
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    z-index: -100000;
  }

  .changeCompany .button {
    background-color: rgb(40,59,74);
    margin: 7px 14px;
    margin-right: 0;
  }

  .changeCompany .button:disabled {
    background-color: #CED5D8;
  }*/

  #input {
    margin-right: 10px;
    flex: 2;
  }

  #input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #CED5D8;
    font-style: italic;
  }
  #input::-moz-placeholder { /* Firefox 19+ */
    color: #CED5D8;
    font-style: italic;
  }
  #input:-ms-input-placeholder { /* IE 10+ */
    color: #CED5D8;
    font-style: italic;
  }
  #input:-moz-placeholder { /* Firefox 18- */
    color: #CED5D8;
    font-style: italic;
  }

  #submit {
      letter-spacing: 1px;
      flex: 1;
  }

  .tickerfield {
    padding: 6px 12px;
    margin: 8px 0;
    box-sizing: border-box;
  }


/* Ticker Name Row */

  .tickerName {
    padding-top: 20px !important;
    justify-content: space-between;
  }

  #tickerName {
    font-size: 22px;
    margin-right: 10px;
    align-self: flex-start;
    font-weight: 400;
  }

  #toggle {
    align-self: flex-end;
    justify-content: flex-end;
    display:table;
  }

  #indicator-label {
    display:table-cell;
    vertical-align:middle;
    padding-right: 15px;
    font-size: 10px;
    text-transform: uppercase;
    line-height: 15px;
    text-align: right;
  }

/* Ticker Details Row */

  .tickerDetails {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 0 !important;
  }

  .detail {
    flex: 1;
    font-size: 14px;
    display: inline-block;
    margin-left: 10px;
  }

  #current-price {
    margin-left: 0;
  }

/* High Low Row */

  .highlow {
      font-size: 12px;
  }

  .highlowrow {
    padding-top: 4 !important;
    padding-bottom: 20px !important;
  }

/* Change Date Range Row */

  .changeDateRange .button {
      margin-right: 10px;
      letter-spacing: 1px;
  }

  #onemonth{
      margin-right: 0;
  }

  #date-range {
    flex: 2;
  }

/* Canvas */

  canvas {
    position: relative; 
    top: 0; 
    left: 0; 
    z-index: 1;
    margin: 0;
    background: rgb(40, 59, 74);
    font-weight: 300 !important;
    letter-spacing: 10px !important;
    text-transform: uppercase;
  }

/* Sighted Values Row */

  #sighted-vals {
    background-color: rgb(93,116,132);
    padding-left: 0 !important;
    padding-right: 0 !important;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: 75px;
    margin-left: 75px;
  }

  .val {
    flex: 1;
    font-size: 12px;
    text-align: left;
    padding-left: 15px;
  }

  #curr-extra {
    display: none;
  }

  .linebreak3{
        width: 0%;
    }


/* Help Row */

  .about {
    justify-content: center;
  }

  .help-button {
    font-style: italic;
    background: none;
    border: none;
    color: rgba(255, 255, 255, 0.42);
    cursor: pointer;
    font-size: 12px;
    padding: 10px;
    text-decoration: none;
    outline-style:none;
    box-shadow:none;
    border-color:transparent;
  }

  .help-button::visited {
    text-decoration: none;
  }

/* Modals */

  #about-project {
    margin-bottom: 30px;
    font-size: 13px;
    line-height: 18px;
  }

  #keyboardShortcuts {
    font-size: 13px;
  }

/* Toggle */

  .switch {
    position: relative;
    display: inline-block;
    width: 44px;
    height: 28px;
  }

  .switch input {display:none;}

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #CED5D8;
    -webkit-transition: .1s;
    transition: .1s;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .1s;
    transition: .1s;
  }

  input:checked + .slider {
    background-color: rgb(67,146,241);
  }

  input:focus + .slider {
    box-shadow: 0 0 1px rgb(67,146,241);
  }

  input:checked + .slider:before {
    -webkit-transform: translateX(16px);
    -ms-transform: translateX(16px);
    transform: translateX(16px);
  }

  .slider.round {
    border-radius: 34px;
  }

  .slider.round:before {
    border-radius: 50%;
  }


