

  body {
  	padding: 0; 
  	margin: 0;
    background: rgb(40, 59, 74);
    color: white;
    font-family: 'Rubik', sans-serif;
  } 

  canvas {
  	position: relative; 
  	top: 0; 
  	left: 0; 
  	z-index: 1;
  	margin: 0;
    background: rgb(40, 59, 74);
  }

  #content {
  	position: relative; 
  	z-index: 2; 
  }

  .form {
  	padding: 20px;
  }

  .buttonSelected {
    background-color: white !important; 
    color: black !important;
  }

  .button {
    background-color: rgb(87,132,150);
    border: none;
    color: white;
    padding: 6px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    text-transform: uppercase;
  }

  .tickerDetails {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .changeDateRange {
    display: inline-block;
  }

  .detail {
    flex: 1;
  }

  .row{
    padding-left: 50px;
    padding-right: 50px;
  }

